<!-- partials/footer.ejs -->

<footer class="text-xl w-full  bg-transparent  border-t-2 border-slate-100 ">
    <div class="text-white h-20 w-full flex items-center justify-around">
        <h2 class="font-IBM">copyright &copy; <%= myName %></h2>

      <div class="icons flex gap-3">
         <a href="<%= myLinkedinLink%>">
           <img src="/icons/linkedin.svg" alt="linkedin" class="border py-2 px-2 rounded-md text-white ">
         </a>
      <a href="<%= myGithubLink%>">
          <img src="/icons/githubIcon.svg" alt="github" class="border py-2 px-2 rounded-md text-white">
      </a>
      </div>

    </div>
</footer>




<!-- script files -->
 <script src="/scripts/navigation.scripts.js"  ></script>
 <script src="/scripts/constants.scripts.js" type="module"></script>
 <script src="/scripts/main.scripts.js" type="module"></script>

</body>

</html>
