<section id="projects" class="w-full  pb-32">
  <h2 class="text-3xl font-bold text-center ">A small section of my recent projects
</h2>
<div

  class="w-[80%] mx-auto px-20 mt-20 flex flex-wrap gap-12 "
>
<!-- .projectBox where project will be displayed -->
  <div
    class="projectBox border-2 border-slate-500 rounded-xl p-5 inline-block max-w-[400px]"
    style="background-color: #000319"
  >
    <img src="/img/lptp.jpg" alt="laptop" class="w-full rounded-lg" />
    <h2 class="text-xl font-semibold mt-3">Notebook: Task Management App</h2>
    <p class="max-w-full mt-2">
      Now managing new tasks is easier with this user-friendly app.
    </p>
    <!-- tech stack -->
    <div id="project-icons" class="flex justify-between pt-5">
      <div class="flex space-x-3 w-7">
        <img src="/icons/JavaScriptIcon.svg" alt="JavaScript" title="JavaScript" />
        <img src="/icons/nodejsIcon.svg" alt="Node.js"  title="node js" />
        <img src="/icons/reactNativeIcon.svg" alt="React Native" title="react native"  />
        <img src="/icons/mongodbIcon.svg" alt="MongoDB" title="MongoDB"  />
      </div>
      <div class="flex space-x-3">
        <a
          href="/github-link"
          class="border border-purple-500 px-3 py-2 rounded-xl"
          >GitHub</a
        >
        <a
          href="/live-link"
          class="border border-purple-500 px-3 py-2 rounded-xl"
          >Live</a
        >
      </div>
    </div>
  </div>




</div>


</section>
